.container {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.back {
  margin-top: 40px;
}
.cartItem {
  display: flex;
  margin-top: 50px;
  border: 1px solid white;
  width: 350px;
}
.heading {
  position: absolute;
  left: calc(50% - 52.5px);
  top: 45px;
}
.image {
  width: 200px;
  height: 200px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.name {
  margin: 0;
}
.back {
  margin-bottom: 10px;
}
.delete {
  margin-bottom: 10px;
  width: 100px;
}
.checkout {
  width: 100px;
}
.buttons {
  margin-left: calc(50% - 161.5px);
}
.empty {
  font-size: large;
  font-weight: bold;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 350px 350px;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;

    margin-bottom: 60px;
  }
}
