.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid white;
  position: relative;
}
.cart {
  margin-left: 20px;
  background-color: transparent;
}
.bookImage {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
  margin-right: 4px;
}
