.home__flex {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 20px;
}

.products__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
.login {
  position: absolute;
  top: -52px;
  left: 75%;
}
