.card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  width: 400px;
  height: 200px;
  border-width: 1px;
  border-radius: 0;
  margin-bottom: 1rem;
  margin-right: 4px;
}

.image {
  height: 100%;
  width: 200px;
}
.heading {
  margin-bottom: 2px;
}
.price {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
  margin-top: 5px;
}
.details {
  margin-top: 4px;
  width: 150px;
}
.addtocart {
  width: 150px;
  height: 42px;
}
